/* ---------------- VARIABLES GOES HERE ---------------- */

$debugMode: false;

$colMain: #0066ff;
$colSecondary: #00ff00;
$colTertiary: #ff6600;

$paddingBig: 32px;
$paddingSmall: 16px;

@mixin windowStyle($windowPadding, $windowMargin) {
    box-shadow:
        2px 0 0 rgb(255, 255, 255, 0.125) inset, -2px 0 0 rgb(0, 0, 0, 0.125) inset,
        0 2px 0 rgb(255, 255, 255, 0.25) inset, 0 -2px 0 rgb(0, 0, 0, 0.25) inset,
        0 0 4px black;

    background-color: rgba(32, 32, 32, 0.25);
    backdrop-filter: blur(16px);
    border-radius: 8px;

    padding: $windowPadding;
    margin: $windowMargin;
}

@mixin embedStyle($windowPadding, $windowMargin) {
    box-shadow:
        -2px 0 0 rgb(255, 255, 255, 0.125) inset, 2px 0 0 rgb(0, 0, 0, 0.125) inset,
        0 -2px 0 rgb(255, 255, 255, 0.25) inset, 0 2px 0 rgb(0, 0, 0, 0.25) inset,
        0 0 4px black inset;

    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    padding: $windowPadding;
    margin: $windowMargin;
}

@mixin debugStyle() {
    @if $debugMode == true {
        border: $colTertiary solid 2px;

        > * {
            border: $colSecondary solid 2px;

            > * {
                border: $colMain solid 2px;
            }
        }
    }
}

/* ---------------- ANIMATION GOES HERE ---------------- */

/* Smoothes the blinking cursor */
@keyframes alphaAnim {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

/* ---------------- IMPORTS GOES HERE ---------------- */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');