/* ---------------- USE GOES HERE ---------------- */

@use "common.scss" as common;

/* ---------------- LAYOUT GOES HERE ---------------- */

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    place-items: center;
}

h1 {
    font-size: clamp(2rem, 6vw, 3rem);
}

h2 {
    font-size: clamp(1.5rem, 3vw, 2rem);
}

h3 {
    font-size: 1rem;
}

h1, h2, h3 {
    flex: 0 1 auto;
}

a {
    text-decoration: none;
    color: white;
}

iframe {
    // Remove the default border used by iframe
    border: none;
}

header, main, footer {
    box-sizing: border-box;
    width: min(100%, 1024px);
}

header {
    display: flex;
    position: sticky;
    gap: common.$paddingSmall;
    place-items: flex-start;
    place-content: space-between;

    top: 0;
    z-index: 8;

    nav {
        @include common.flexRowWrap(common.$paddingSmall);

        gap: common.$paddingSmall;
    }

    a, ul {
        display: contents;

        li {
            @include common.buttonStyle(common.$paddingSmall, 0);

            list-style: none;
        }
    }
}

main {
    section {
        @include common.flexRowWrap(common.$paddingSmall);

        padding: 128px 0;
        place-items: center;
        place-content: center;

        #heroHeader {
            text-align: center;
        }
    }

    #about {
        .consoleWindow {
            .flexRowWrap {
                @include common.flexRowWrap();

                gap: common.$paddingSmall;
                place-content: space-between;

                p {
                    transition: padding 1s ease-in-out, border-width 1s ease-in-out;
                }
            }

            #percentageBar {
                width: 100%;
                height: common.$paddingSmall;
                margin: common.$paddingBig 0;

                display: flex;
                overflow: hidden;
                background-color: gray;
                border-radius: common.$paddingSmall;

                div {
                    width: 0;
                    height: 100%;
                    transition: width 1s ease-in-out, background-color 1s ease-in-out;
                }
            }
        }
    }

    #work {
        #iFrameContainer {
            @include common.flexRowWrap();

            place-content: center;

            iFrame {
                width: 480px;
                aspect-ratio: 16 / 9;
            }
        }
    }
}

footer section{
    @include common.flexRowWrap(common.$paddingSmall);

    place-content: space-between;
}

.griddy {
    @include common.flexRowWrap(common.$paddingSmall);

    place-content: space-evenly;
}

.iconDisplay {
    @include common.flexRowWrap(common.$paddingSmall);

    place-content: space-around;

    .iconDisplayHeader {
        place-content: center;
    }
}

.fillWidth {
    width: 100%;
}

.iconBig {
    width: 100px;
}

.iconMedium {
    width: 75px;
}

.iconSmall {
    width: 50px;
}

#githubPfp {
    border-radius: 100%;
}

#sketchP5 {
    // For some reason, a lot of the elements have top set for them
    top: 0;
    // Ensures the full screen is utilized by p5.js
    width: 100vw;
    height: 100vh;
    // Keeps background behind all the elements since it's sticky
    z-index: -1;
    // Keep background sticky
    position: fixed;
}

/* ---------------- STYLING GOES HERE ---------------- */

body {
    font-family: 'JetBrains Mono';
    color: white;
    background-color: black;

    @include common.debugStyle();
}

header {
    @include common.windowStyle(common.$paddingSmall, 0);
}

main {
    article {
        @include common.windowStyle(common.$paddingBig, 16px 0);
    }
}

footer {
    @include common.windowStyle(common.$paddingBig, 0);
}

.consoleWindow {
    @include common.embedStyle(common.$paddingSmall, 0);
}

.cursorBlink {
    animation: alphaAnim 1s infinite;
}

/* ---------------- RESPONSIVE GOES HERE ---------------- */

// Large Mobile
@media (min-width: common.$breakpointMobile) {
}

// Tablet
@media (min-width: common.$breakpointTablet) {
    header {
        box-shadow: none;
        backdrop-filter: none;
        background-color: transparent;
        place-items: center;

        nav {
            @include common.windowStyle(common.$paddingSmall, 0);
        }
    }

    .iconBig { width: 180px; }
    .iconMedium { width: 120px; }
    .iconSmall { width: 60px; }
}

// Desktop
@media (min-width: common.$breakpointDesktop) {
    .iconBig { width: 225px; }
    .iconMedium { width: 150px; }
    .iconSmall { width: 75px; }
}