/* ---------------- USE GOES HERE ---------------- */
/* ---------------- VARIABLES GOES HERE ---------------- */
/* ---------------- ANIMATION GOES HERE ---------------- */
/* Smoothes the blinking cursor */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@keyframes alphaAnim {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
/* ---------------- IMPORTS GOES HERE ---------------- */
/* ---------------- LAYOUT GOES HERE ---------------- */
html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  place-items: center;
  font-family: "JetBrains Mono";
  color: white;
  background-color: black;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}

h1, h2, h3 {
  flex: 0 1 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

iframe {
  /* Remove the default border used by iframe */
  border: none;
}

header, main, footer {
  box-sizing: border-box;
  width: min(100%, 1024px);
}

header {
  display: flex;
  place-content: space-between;
  position: sticky;
  top: 0;
  z-index: 8;
}
header a {
  display: contents;
}
header nav {
  place-content: center;
}

main section {
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  place-content: space-around;
  padding: 128px 0;
}
main section #heroHeader {
  text-align: center;
}
main #about #console-window {
  display: flex;
  flex-wrap: wrap;
  place-content: space-between;
}
main #work #iFrameContainer {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
}
main #work #iFrameContainer iFrame {
  aspect-ratio: 16/9;
  width: 480px;
}

footer section {
  display: flex;
  flex-wrap: wrap;
  place-content: space-between;
}

.griddy {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  place-content: space-evenly;
}

.iconDisplay {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  place-content: space-around;
}
.iconDisplay .iconDisplayHeader {
  place-content: center;
}

.fillWidth {
  width: 100%;
}

.iconBig {
  width: 120px;
}

.iconMedium {
  width: 100px;
}

.iconSmall {
  width: 80px;
}

.iconSmall {
  width: 60px;
}

#githubPfp {
  border-radius: 100%;
}

#sketchP5 {
  /* For some reason, a lot of the elements have top set for them */
  top: 0;
  /* Ensures the full screen is utilized by p5.js */
  width: 100vw;
  height: 100vh;
  /* Keeps background behind all the elements since it's sticky */
  z-index: -1;
  /* Keep background sticky */
  position: fixed;
}

/* ---------------- STYLING GOES HERE ---------------- */
.cursorBlink {
  animation: alphaAnim 1s infinite;
}

header {
  box-shadow: 2px 0 0 rgba(255, 255, 255, 0.125) inset, -2px 0 0 rgba(0, 0, 0, 0.125) inset, 0 2px 0 rgba(255, 255, 255, 0.25) inset, 0 -2px 0 rgba(0, 0, 0, 0.25) inset, 0 0 4px black;
  background-color: rgba(32, 32, 32, 0.125);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  border-radius: 8px;
  padding: 16px;
  margin: 0;
}

main article {
  box-shadow: 2px 0 0 rgba(255, 255, 255, 0.125) inset, -2px 0 0 rgba(0, 0, 0, 0.125) inset, 0 2px 0 rgba(255, 255, 255, 0.25) inset, 0 -2px 0 rgba(0, 0, 0, 0.25) inset, 0 0 4px black;
  background-color: rgba(32, 32, 32, 0.125);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  border-radius: 8px;
  padding: 32px;
  margin: 16px 0;
}

#console-window {
  box-shadow: -2px 0 0 rgba(255, 255, 255, 0.125) inset, 2px 0 0 rgba(0, 0, 0, 0.125) inset, 0 -2px 0 rgba(255, 255, 255, 0.25) inset, 0 2px 0 rgba(0, 0, 0, 0.25) inset, 0 0 4px black inset;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 16px;
  margin: 0;
}

footer {
  box-shadow: 2px 0 0 rgba(255, 255, 255, 0.125) inset, -2px 0 0 rgba(0, 0, 0, 0.125) inset, 0 2px 0 rgba(255, 255, 255, 0.25) inset, 0 -2px 0 rgba(0, 0, 0, 0.25) inset, 0 0 4px black;
  background-color: rgba(32, 32, 32, 0.125);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  border-radius: 8px;
  padding: 32px;
  margin: 0;
}

/* ---------------- RESPONSIVE GOES HERE ---------------- */
/* Large Mobile */
/* Tablet */
@media (min-width: 720px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1em;
  }
  header {
    box-shadow: none;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    background-color: rgba(0, 0, 0, 0);
  }
  header nav {
    box-shadow: 2px 0 0 rgba(255, 255, 255, 0.125) inset, -2px 0 0 rgba(0, 0, 0, 0.125) inset, 0 2px 0 rgba(255, 255, 255, 0.25) inset, 0 -2px 0 rgba(0, 0, 0, 0.25) inset, 0 0 4px black;
    background-color: rgba(32, 32, 32, 0.125);
    -webkit-backdrop-filter: blur(16px);
            backdrop-filter: blur(16px);
    border-radius: 8px;
    padding: 0 32px;
    margin: 0;
  }
  .iconBig {
    width: 180px;
  }
  .iconMedium {
    width: 140px;
  }
  .iconSmall {
    width: 100px;
  }
}
/* Desktop */
@media (min-width: 1024px) {
  .iconBig {
    width: 240px;
  }
  .iconMedium {
    width: 180px;
  }
  .iconSmall {
    width: 120px;
  }
}/*# sourceMappingURL=style.css.map */