/*

The order of selectors follows:
Semantic, IDs, and classes

For rules, the order follows:
Layout, styling, and responsive
*/

/* ---------------- USE GOES HERE ---------------- */

@use "common.scss" as common;

/* ---------------- LAYOUT GOES HERE ---------------- */

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    @include common.debugStyle();

    display: flex;
    flex-direction: column;
    place-items: center;

    font-family: 'JetBrains Mono';
    color: white;
    background-color: black;
}

h1 { font-size: clamp(1.5rem, 6vw, 3rem); }
h2 { font-size: clamp(1.25rem, 3vw, 2rem); }
h3 { font-size: 1rem; }

h1, h2, h3 {
    flex: 0 1 auto;
}

a {
    text-decoration: none;
    color: white;
}

iframe { border: none; }

header, main, footer {
    box-sizing: border-box;
    width: min(100%, common.$breakpointDesktop);
}

header {
    @include common.flexRowWrap(common.$paddingSmall);
    @include common.boxBorder(common.$paddingSmall);

    box-shadow: common.bevelOutTB(), 0 0 4px black;
    border-radius: 8px;

    background-color: rgba(32, 32, 32, 0.125);
    backdrop-filter: blur(16px);

    position: sticky;
    place-items: center;
    place-content: space-between;

    top: 0;
    z-index: 10;

    nav {
        @include common.flexRowWrap(common.$paddingSmall);

        gap: common.$paddingMedium;
    }

    a, ul {
        display: contents;

        li {
            @include common.boxBorder(common.$paddingSmall);
            @include common.buttonStyle();

            list-style: none;
        }
    }

    @media (min-width: common.$breakpointTablet) {
        box-shadow: none;
        backdrop-filter: none;
        background-color: transparent;

        nav {
            @include common.boxBorder(common.$paddingMedium);

            box-shadow: common.bevelOut(), 0 0 4px black;
            border-radius: 8px;

            background-color: rgba(32, 32, 32, 0.125);
            backdrop-filter: blur(16px);
        }
    }
}

main {
    display: flex;
    flex-flow: column nowrap;
    gap: common.$paddingBig;

    section {
        @include common.flexRowWrap(common.$paddingSmall);

        padding: 128px 0;
        place-items: center;
        place-content: center;

        #heroHeader {
            text-align: center;
        }
    }

    article {
        @include common.boxBorder(common.$paddingMedium);

        box-shadow: common.bevelOutTB(), 0 0 4px black;

        background-color: rgba(32, 32, 32, 0.125);
        backdrop-filter: blur(16px);

        @media (min-width: common.$breakpointDesktop) {
            box-shadow: common.bevelOut(), 0 0 4px black;
            border-radius: 8px;
        }
    }

    #about {
        .consoleWindow {
            @include common.boxBorder(common.$paddingMedium, 0);

            box-shadow: bevelIn(), 0 0 4px black inset;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 8px;

            .flexRowWrap {
                @include common.flexRowWrap();

                gap: common.$paddingSmall;
                place-content: space-between;

                p {
                    transition: padding 1s ease-in-out, border-width 1s ease-in-out;
                }
            }

            #percentageBar {
                width: 100%;
                height: common.$paddingSmall;
                margin: common.$paddingMedium 0;

                display: flex;
                overflow: hidden;
                background-color: gray;
                border-radius: common.$paddingSmall;
                
                div {
                    width: 0;
                    height: 100%;
                    transition: width 1s ease-in-out, background-color 1s ease-in-out;
                }
            }
        }
    }

    #projects {
        #iFrameContainer {
            @include common.flexRowWrap();

            place-content: center;

            iframe {
                width: 480px;
                aspect-ratio: 16 / 9;
            }
        }
    }
}

footer {
    @include common.boxBorder(common.$paddingMedium, common.$paddingBig 0 0 0);

    box-shadow: common.bevelOutTB(), 0 0 4px black;

    background-color: rgba(32, 32, 32, 0.125);
    backdrop-filter: blur(16px);

    section {
        @include common.flexRowWrap(common.$paddingSmall);

        place-content: space-between;
    }

    @media (min-width: common.$breakpointDesktop) {
        box-shadow: common.bevelOut(), 0 0 4px black;
        border-radius: 8px;
    }
}

.imageFillWidth {
    width: 100%;
}

.cursorBlink {
    animation: alphaAnim 1s infinite;
}

.griddy {
    @include common.flexRowWrap(common.$paddingSmall);

    place-content: space-evenly;
}

.iconDisplay {
    @include common.flexRowWrap(common.$paddingBig);

    place-content: center;

    .iconDisplayHeader {
        place-content: center;
    }
}

.iconBig { width: clamp(100px, 20vw, 200px); }
.iconMedium { width: clamp(75px, 10vw, 100px); }

.iconSmall {
    width: 50px;
    transition: 0.25s;

    &:hover {
        width: 60px;
    }
}

#githubPfp {
    border-radius: 100%;
}

#sketchP5 {
    // For some reason, a lot of the elements have top set for them
    top: 0;
    // Ensures the full screen is utilized by p5.js
    width: 100vw;
    height: 100vh;
    // Keeps background behind all the elements since it's sticky
    z-index: -1;
    // Keep background sticky
    position: fixed;
}