/* ---------------- USE GOES HERE ---------------- */

@use "common.scss" as common;

/* ---------------- LAYOUT GOES HERE ---------------- */

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    place-items: center;
    font-family: 'JetBrains Mono';
    color: white;
    background-color: black;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

h1, h2, h3 {
    flex: 0 1 auto;
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

iframe {
    /* Remove the default border used by iframe */
    border: none;
}

header, main, footer {
    box-sizing: border-box;
    width: min(100%, 1024px);
}

header {
    display: flex;
    place-content: space-between;
    position: sticky;

    top: 0;
    z-index: 8;

    a {
        display: contents;
    }

    nav {
        place-content: center;
    }
}

main {
    section {
        display: flex;
        flex-wrap: wrap;
        place-items: center;
        place-content: space-around;
        padding: 128px 0;

        #heroHeader {
            text-align: center;
        }
    }

    #about {
        #github-stats, #discord-stats {
            display: flex;
            flex-wrap: wrap;
            place-content: space-between;
        }
    }

    #work {
        #iFrameContainer {
            display: flex;
            flex-wrap: wrap;
            place-content: center;

            iFrame {
                aspect-ratio: 16 / 9;
                width: 480px;
            }
        }
    }
}

footer section{
    display: flex;
    flex-wrap: wrap;
    place-content: space-between;
}

.griddy {
    display: flex;
    flex-wrap: wrap;
    gap: common.$paddingSmall;
    place-content: space-evenly;
}

.iconDisplay {
    display: flex;
    flex-wrap: wrap;
    gap: common.$paddingSmall;
    place-content: space-around;

    .iconDisplayHeader {
        place-content: center;
    }
}

.fillWidth {
    width: 100%;
}

.iconBig {
    width: 120px;
}

.iconMedium {
    width: 100px;
}

.iconSmall {
    width: 80px;
}

.iconSmall {
    width: 60px;
}

#githubPfp {
    border-radius: 100%;
}

#sketchP5 {
    /* For some reason, a lot of the elements have top set for them */
    top: 0;

    /* Ensures the full screen is utilized by p5.js */
    width: 100vw;
    height: 100vh;

    /* Keeps background behind all the elements since it's sticky */
    z-index: -1;
    /* Keep background sticky */
    position: fixed;
}

/* ---------------- STYLING GOES HERE ---------------- */

.cursorBlink {
    animation: alphaAnim 1s infinite;
}

header {
    @include common.debugStyle();
    @include common.windowStyle(common.$paddingSmall, 0);
}

main {
    @include common.debugStyle();

    article {
        @include common.windowStyle(common.$paddingBig, 16px 0);
    }
}

#github-stats, #discord-stats {
    @include common.embedStyle(common.$paddingSmall, 0);
}

footer {
    @include common.debugStyle();
    @include common.windowStyle(common.$paddingBig, 0);
}

/* ---------------- RESPONSIVE GOES HERE ---------------- */

/* Large Mobile */
@media (min-width: 540px) {

}

/* Tablet */
@media (min-width: 720px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1em;
    }

    header {
        box-shadow: none;
        backdrop-filter: none;
        background-color: rgba(0, 0, 0, 0);

        nav {
            @include common.windowStyle(0 common.$paddingBig, 0);
        }
    }

    .iconBig {
        width: 180px;
    }

    .iconMedium {
        width: 140px;
    }

    .iconSmall {
        width: 100px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .iconBig {
        width: 240px;
    }

    .iconMedium {
        width: 180px;
    }

    .iconSmall {
        width: 120px;
    }
}