/* ---------------- VARIABLES GOES HERE ---------------- */

$debugMode: false;

$colMain: #0066ff;
$colSecondary: #00ff00;
$colTertiary: #ff6600;

$paddingBig: 32px;
$paddingSmall: 16px;

/* ---------------- IMPORT GOES HERE ---------------- */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* ---------------- MIXIN GOES HERE ---------------- */

@mixin windowStyle($windowPadding, $windowMargin) {
    box-shadow:
        2px 0 0 rgb(255, 255, 255, 0.125) inset, -2px 0 0 rgb(0, 0, 0, 0.125) inset,
        0 2px 0 rgb(255, 255, 255, 0.25) inset, 0 -2px 0 rgb(0, 0, 0, 0.25) inset,
        0 0 4px black;

    background-color: rgba(32, 32, 32, 0.25);
    backdrop-filter: blur(16px);
    border-radius: 8px;

    padding: $windowPadding;
    margin: $windowMargin;
}

@mixin embedStyle($windowPadding, $windowMargin) {
    box-shadow:
        -2px 0 0 rgb(255, 255, 255, 0.125) inset, 2px 0 0 rgb(0, 0, 0, 0.125) inset,
        0 -2px 0 rgb(255, 255, 255, 0.25) inset, 0 2px 0 rgb(0, 0, 0, 0.25) inset;

    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    padding: $windowPadding;
    margin: $windowMargin;
}

@mixin debugStyle() {
    @if $debugMode == true {
        border: $colTertiary solid 2px;

        > * {
            border: $colSecondary solid 2px;

            > * {
                border: $colMain solid 2px;
            }
        }
    }
}

/* ---------------- ANIMATION GOES HERE ---------------- */

/* Smoothes the blinking cursor */
@keyframes alphaAnim {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

/* ---------------- LAYOUT GOES HERE ---------------- */

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    place-items: center;
    font-family: 'JetBrains Mono';
    color: white;
    background-color: black;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1em;
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

header, main, footer {
    box-sizing: border-box;
    width: min(100%, 1024px);
    margin: 16px 0;
}

header {
    display: flex;
    place-content: space-between;
    position: sticky;

    top: 0;
    z-index: 8;

    a {
        display: contents;
    }

    nav {
        place-content: center;
    }
}

main {
    section {
        display: flex;
        place-content: space-around;
        flex-direction: column;
        place-items: center;
        padding: 128px 0;

        #heroHeader {
            text-align: center;
        }
    }

    #about {
        #github-stats {
            display: flex;
            place-content: space-between;
        }

        #discord-stats {
            display: flex;
            place-content: space-between;
        }
    }

    #work {
        #iFrameContainer {
            display: flex;
            place-content: center;

            iFrame {
                aspect-ratio: 16 / 9;
                width: 50%;
            }
        }
    }
}

footer section{
    display: flex;
    flex-direction: column;
    place-content: space-between;
}

.griddy {
    display: grid;

    grid-template-rows: auto auto;
    grid-template-columns: auto auto;

    place-items: center;

    gap: 16px;
}

.iconDisplay {
    display: flex;
    flex-direction: column;
    place-items: center;

    .iconDisplayHeader {
        text-align: center;
    }
}

.fillWidth {
    width: 100%;
}

.iconBig {
    width: 150px;
}

.iconMedium {
    width: 120px;
}

.iconSmall {
    width: 90px;
}

.iconTiny {
    width: 75px;
}

#githubPfp {
    border-radius: 100%;
}

#sketchP5 {
    /* For some reason, a lot of the elements have top set for them */
    top: 0;

    /* Ensures the full screen is utilized by p5.js */
    width: 100vw;
    height: 100vh;

    /* Keeps background behind all the elements since it's sticky */
    z-index: -1;
    /* Keep background sticky */
    position: fixed;

    /* Remove the default border used by iframe */
    border: none;
}

/* ---------------- STYLING GOES HERE ---------------- */

.cursorBlink {
    animation: alphaAnim 1s infinite;
}

header {
    @include debugStyle();
    @include windowStyle($paddingSmall, 0);
}

main {
    @include debugStyle();

    article {
        @include windowStyle($paddingBig, 16px 0);
    }
}

#github-stats, #discord-stats {
    @include embedStyle($paddingSmall, 0);
}

footer {
    @include debugStyle();
    @include windowStyle($paddingBig, 0);
}

/* ---------------- RESPONSIVE GOES HERE ---------------- */

/* Large Mobile */
@media (min-width: 540px) {
    
}

/* Tablet */
@media (min-width: 720px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1em;
    }

    header {
        box-shadow: none;
        backdrop-filter: none;
        background-color: rgba(0, 0, 0, 0);

        nav {
            @include windowStyle(0 $paddingBig, 0);
        }
    }

    footer section {
        flex-direction: row;
    }

    .iconBig {
        width: 200px;
    }

    .iconMedium {
        width: 150px;
    }

    .iconSmall {
        width: 100px;
    }

    .griddy {
        grid-template-rows: none;
        grid-template-columns: auto auto auto auto;
    }

    .iconDisplay {
        flex-direction: row;
        place-content: space-around;
        
        .iconDisplayHeader {
            text-align: left;
        }
    }

    #hero {
        flex-direction: row;
        
        #heroHeader {
            text-align: left;
        }
    }
}

/* Desktop */
@media (min-width: 1024px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1em;
    }

    .iconBig {
        width: 300px;
    }

    .iconMedium {
        width: 200px;
    }

    .iconSmall {
        width: 100px;
    }
}