/*

The order of selectors follows:
Semantic, IDs, and classes

For rules, the order follows:
Layout, styling, and responsive
*/

/* ---------------- USE GOES HERE ---------------- */

@use "common.scss" as common;

/* ---------------- LAYOUT GOES HERE ---------------- */

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    @include common.debugStyle();

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: black;
    font-family: 'JetBrains Mono';
    color: var(--colorForeground);
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

h1 { font-size: clamp(1.5rem, 6vw, 3rem); }
h2 { font-size: clamp(1.25rem, 3vw, 2rem); }
h3 { font-size: 1rem; }

h1, h2, h3 {
    flex: 0 1 auto;
}

a {
    color: var(--colorForeground);
    text-decoration: none;
}

iframe { border: none; }

header, main, footer {
    box-sizing: border-box;
    width: min(100%, common.$breakpointDesktop);
}

header {
    @include common.boxBorder(common.$paddingSmall);

    display: flex;
    flex-flow: row wrap;

    z-index: 9;
    display: flex;
    position: sticky;
    gap: common.$paddingMedium;

    align-items: center;
    justify-content: center;
    
    order: 99;
    bottom: 0;
    margin: 0;

    nav {
        @include common.glassMaterial();
        @include common.boxBorder(common.$paddingMedium);
        @include common.flexRowWrap(common.$paddingMedium);

        justify-content: space-evenly;

        border-radius: common.$paddingMedium;
        box-shadow: common.bevelOut(), 0 0 4px rgb(0, 0, 0, 0.5);
    }

    a, ul {
        display: contents;

        li {
            @include common.boxBorder(common.$paddingSmall common.$paddingMedium);

            transition: 0.5s;
            list-style: none;
            border-radius: common.$paddingMedium;

            &:hover {
                background-color: var(--colorHover);
                box-shadow: common.bevelOut(0.5, 0.5), 0 0 4px rgb(0, 0, 0, 0.5);
            }

            &:active {
                background-color: var(--colorActive);
                box-shadow: common.bevelIn(0.25, 0.5), 0 0 4px rgb(0, 0, 0, 0.5) inset;
            }
        }
    }

    @media (min-width: common.$breakpointTablet) {
        top: 0;
        order: 0;
        justify-content: space-between;
        margin: 0 0 common.$paddingBig 0;
    }
}

main {
    display: flex;
    gap: common.$paddingBig;
    flex-flow: column nowrap;

    section {
        @include common.flexRowWrap(common.$paddingSmall);

        padding: 12.5vh 0;
        align-items: center;
        justify-content: center;

        #heroHeader {
            text-align: center;
        }
    }

    article {
        @include common.glassMaterial();
        @include common.boxBorder(common.$paddingMedium);

        box-shadow: common.bevelOutTB(), 0 0 4px rgb(0, 0, 0, 0.5);

        @media (min-width: common.$breakpointDesktop) {
            border-radius: common.$paddingMedium;
            box-shadow: common.bevelOut(), 0 0 4px rgb(0, 0, 0, 0.5);
        }
    }

    #about {
        .consoleWindow {
            @include common.boxBorder(common.$paddingMedium, 0);

            border-radius: common.$paddingMedium;
            background-color: var(--colorConsole);
            box-shadow: common.bevelIn(), 0 0 4px rgb(0, 0, 0, 0.5) inset;

            .flexRowWrap {
                @include common.flexRowWrap();

                gap: common.$paddingSmall;
                justify-content: space-between;

                p {
                    transition: padding 1s ease-in-out, border-width 1s ease-in-out;
                }
            }

            #percentageBar {
                width: 100%;
                height: common.$paddingSmall;
                margin: common.$paddingMedium 0;

                display: flex;
                overflow: hidden;
                background-color: gray;
                border-radius: common.$paddingSmall;
                
                div {
                    width: 0;
                    height: 100%;
                    transition: width 1s ease-in-out, background-color 1s ease-in-out;
                }
            }
        }
    }

    #projects {
        #iFrameContainer {
            @include common.flexRowWrap();

            justify-content: center;

            iframe {
                width: 480px;
                aspect-ratio: 16 / 9;
            }
        }
    }
}

footer {
    @include common.glassMaterial();
    @include common.boxBorder(common.$paddingMedium, common.$paddingBig 0 0 0);

    box-shadow: common.bevelOutTB(), 0 0 4px rgb(0, 0, 0, 0.5);

    section {
        @include common.flexRowWrap(common.$paddingSmall);

        justify-content: space-between;
    }

    @media (min-width: common.$breakpointDesktop) {
        border-radius: common.$paddingMedium;
        box-shadow: common.bevelOut(), 0 0 4px rgb(0, 0, 0, 0.5);
    }
}

.imageFillWidth {
    width: 100%;
}

.cursorBlink {
    animation: alphaAnim 1s infinite;
}

.themedLogos {
    // Change filter based on theme
    transition: 0.5s ease-in-out;
    // Big brain moment (I'm slowly losing it)
    filter: var(--filterBackground);
}

.griddy {
    @include common.flexRowWrap(common.$paddingSmall);

    justify-content: space-evenly;
}

.iconDisplay {
    @include common.flexRowWrap(common.$paddingBig);

    justify-content: center;

    .iconDisplayHeader {
        justify-content: center;
    }
}

.iconBig { width: clamp(100px, 20vw, 200px); }
.iconMedium { width: clamp(75px, 10vw, 100px); }

.iconSmall {
    width: 50px;
    transition: 0.25s;

    &:hover {
        width: 60px;
    }
}

#fps {
    // Smooths FPS updates
    transition: color 0.5s ease-in-out;
}

#githubPfp {
    border-radius: 100%;
}

#mainCanvas {
    // For some reason, a lot of the elements have top set for them
    top: 0;
    // Ensures the full screen is utilized by p5.js
    width: 100vw;
    height: 100vh;
    // Keep background fixed
    // Keeps background behind all the elements since it's sticky
    z-index: -1;
    position: fixed;

    // Change filter based on theme
    transition: filter 0.5s ease-in-out;
    // Modern problems require modern solutions
    filter: var(--filterBackground);
}

#themeButton {
    @include common.boxBorder(common.$paddingSmall common.$paddingMedium, common.$paddingBig);

    right: 0;
    z-index: 10;
    position: fixed;

    font-size: 1rem;
    list-style: none;
    font-family: 'JetBrains Mono';

    color: var(--colorForeground);
    background-color: var(--colorHover);
    border-radius: common.$paddingMedium;
    box-shadow: common.bevelOut(0.5, 0.5), 0 0 4px rgb(0, 0, 0, 0.5);

    &:active {
        background-color: var(--colorActive);
        box-shadow: common.bevelIn(0.25, 0.5), 0 0 4px rgb(0, 0, 0, 0.5) inset;
    }

    @media (min-width: common.$breakpointTablet) {
        bottom: 0;
    }
}