/*

The order of selectors follows:
Semantic, IDs, and classes

For rules, the order follows:
Layout, styling, and responsive
*/
/* ---------------- USE GOES HERE ---------------- */
/* ---------------- VARIABLES GOES HERE ---------------- */
/* ---------------- FUNCTIONS GOES HERE ---------------- */
/* ---------------- MIXINS GOES HERE ---------------- */
/* ---------------- ANIMATION GOES HERE ---------------- */
/* Smoothes the blinking cursor */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@keyframes alphaAnim {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
/* ---------------- IMPORTS GOES HERE ---------------- */
/* ---------------- LAYOUT GOES HERE ---------------- */
html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  place-items: center;
  flex-direction: column;
  color: white;
  background-color: black;
  font-family: "JetBrains Mono";
}

h1 {
  font-size: clamp(1.5rem, 6vw, 3rem);
}

h2 {
  font-size: clamp(1.25rem, 3vw, 2rem);
}

h3 {
  font-size: 1rem;
}

h1, h2, h3 {
  flex: 0 1 auto;
}

a {
  color: white;
  text-decoration: none;
}

iframe {
  border: none;
}

header, main, footer {
  box-sizing: border-box;
  width: min(100%, 1024px);
}

header {
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  background-color: rgba(32, 32, 32, 0.125);
  padding: 0.5rem;
  margin: 0;
  border: none;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 -1px 0 rgba(0, 0, 0, 0.25) inset, 0 0 4px black;
  position: sticky;
  place-items: center;
  place-content: space-between;
  top: 0;
  z-index: 10;
}
header nav {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  gap: 1rem;
}
header a, header ul {
  display: contents;
}
header a li, header ul li {
  padding: 0.5rem;
  margin: 0;
  border: none;
  transition: 0.5s;
  list-style: none;
  border-radius: 8px;
}
header a li:hover, header ul li:hover {
  background-color: rgb(0, 110, 255);
  box-shadow: bevelOut(0.5, 0.5), 0 0 4px black;
}
header a li:active, header ul li:active {
  background-color: rgb(0, 55, 128);
  box-shadow: bevelIn(0.25, 0.5), 0 0 4px black inset;
}
@media (min-width: 720px) {
  header {
    box-shadow: none;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    background-color: transparent;
  }
  header nav {
    -webkit-backdrop-filter: blur(16px);
            backdrop-filter: blur(16px);
    background-color: rgba(32, 32, 32, 0.125);
    padding: 1rem;
    margin: 0;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.125) inset, -1px 0 0 rgba(0, 0, 0, 0.125) inset, 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 -1px 0 rgba(0, 0, 0, 0.25) inset, 0 0 4px black;
  }
}

main {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}
main section {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  padding: 128px 0;
  place-items: center;
  place-content: center;
}
main section #heroHeader {
  text-align: center;
}
main article {
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  background-color: rgba(32, 32, 32, 0.125);
  padding: 1rem;
  margin: 0;
  border: none;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 -1px 0 rgba(0, 0, 0, 0.25) inset, 0 0 4px black;
}
@media (min-width: 1024px) {
  main article {
    border-radius: 8px;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.125) inset, -1px 0 0 rgba(0, 0, 0, 0.125) inset, 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 -1px 0 rgba(0, 0, 0, 0.25) inset, 0 0 4px black;
  }
}
main #about .consoleWindow {
  padding: 1rem;
  margin: 0;
  border: none;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: bevelIn(), 0 0 4px black inset;
}
main #about .consoleWindow .flexRowWrap {
  display: flex;
  flex-flow: row wrap;
  gap: 0;
  gap: 0.5rem;
  place-content: space-between;
}
main #about .consoleWindow .flexRowWrap p {
  transition: padding 1s ease-in-out, border-width 1s ease-in-out;
}
main #about .consoleWindow #percentageBar {
  width: 100%;
  height: 0.5rem;
  margin: 1rem 0;
  display: flex;
  overflow: hidden;
  background-color: gray;
  border-radius: 0.5rem;
}
main #about .consoleWindow #percentageBar div {
  width: 0;
  height: 100%;
  transition: width 1s ease-in-out, background-color 1s ease-in-out;
}
main #projects #iFrameContainer {
  display: flex;
  flex-flow: row wrap;
  gap: 0;
  place-content: center;
}
main #projects #iFrameContainer iframe {
  width: 480px;
  aspect-ratio: 16/9;
}

footer {
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  background-color: rgba(32, 32, 32, 0.125);
  padding: 1rem;
  margin: 2rem 0 0 0;
  border: none;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 -1px 0 rgba(0, 0, 0, 0.25) inset, 0 0 4px black;
}
footer section {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  place-content: space-between;
}
@media (min-width: 1024px) {
  footer {
    border-radius: 8px;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.125) inset, -1px 0 0 rgba(0, 0, 0, 0.125) inset, 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 -1px 0 rgba(0, 0, 0, 0.25) inset, 0 0 4px black;
  }
}

.imageFillWidth {
  width: 100%;
}

.cursorBlink {
  animation: alphaAnim 1s infinite;
}

.griddy {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  place-content: space-evenly;
}

.iconDisplay {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  place-content: center;
}
.iconDisplay .iconDisplayHeader {
  place-content: center;
}

.iconBig {
  width: clamp(100px, 20vw, 200px);
}

.iconMedium {
  width: clamp(75px, 10vw, 100px);
}

.iconSmall {
  width: 50px;
  transition: 0.25s;
}
.iconSmall:hover {
  width: 60px;
}

#githubPfp {
  border-radius: 100%;
}

#mainCanvas {
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
}

#sketchP5 {
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
}/*# sourceMappingURL=style.css.map */