/*

The order of selectors follows:
Semantic, IDs, and classes

For rules, the order follows:
Layout, styling, and responsive
*/

/* ---------------- USE GOES HERE ---------------- */

@use "common.scss" as common;

/* ---------------- LAYOUT GOES HERE ---------------- */

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    @include common.debugStyle();

    display: flex;
    place-items: center;
    flex-direction: column;
    
    color: white;
    background-color: black;
    font-family: 'JetBrains Mono';
}

h1 { font-size: clamp(1.5rem, 6vw, 3rem); }
h2 { font-size: clamp(1.25rem, 3vw, 2rem); }
h3 { font-size: 1rem; }

h1, h2, h3 {
    flex: 0 1 auto;
}

a {
    color: white;
    text-decoration: none;
}

iframe { border: none; }

header, main, footer {
    box-sizing: border-box;
    width: min(100%, common.$breakpointDesktop);
}

header {
    @include common.glassMaterial();
    @include common.boxBorder(common.$paddingSmall);
    @include common.flexRowWrap(common.$paddingSmall);

    box-shadow: common.bevelOutTB(), 0 0 4px black;

    position: sticky;
    place-items: center;
    place-content: space-between;

    top: 0;
    z-index: 10;

    nav {
        @include common.flexRowWrap(common.$paddingSmall);

        gap: common.$paddingMedium;
    }

    a, ul {
        display: contents;

        li {
            @include common.boxBorder(common.$paddingSmall);

            transition: 0.5s;
            list-style: none;
            border-radius: 8px;

            &:hover {
                background-color: rgb(0, 110, 255, 1);
                box-shadow: bevelOut(0.5, 0.5), 0 0 4px black;
            }

            &:active {
                background-color: rgb(0, 55, 128, 1);
                box-shadow: bevelIn(0.25, 0.5), 0 0 4px black inset;
            }
        }
    }

    @media (min-width: common.$breakpointTablet) {
        box-shadow: none;
        backdrop-filter: none;
        background-color: transparent;

        nav {
            @include common.glassMaterial();
            @include common.boxBorder(common.$paddingMedium);

            border-radius: 8px;
            box-shadow: common.bevelOut(), 0 0 4px black;
        }
    }
}

main {
    display: flex;
    flex-flow: column nowrap;
    gap: common.$paddingBig;

    section {
        @include common.flexRowWrap(common.$paddingSmall);

        padding: 128px 0;
        place-items: center;
        place-content: center;

        #heroHeader {
            text-align: center;
        }
    }

    article {
        @include common.glassMaterial();
        @include common.boxBorder(common.$paddingMedium);

        box-shadow: common.bevelOutTB(), 0 0 4px black;

        @media (min-width: common.$breakpointDesktop) {
            border-radius: 8px;
            box-shadow: common.bevelOut(), 0 0 4px black;
        }
    }

    #about {
        .consoleWindow {
            @include common.boxBorder(common.$paddingMedium, 0);

            border-radius: 8px;
            background-color: rgba(0, 0, 0, 0.5);
            box-shadow: bevelIn(), 0 0 4px black inset;

            .flexRowWrap {
                @include common.flexRowWrap();

                gap: common.$paddingSmall;
                place-content: space-between;

                p {
                    transition: padding 1s ease-in-out, border-width 1s ease-in-out;
                }
            }

            #percentageBar {
                width: 100%;
                height: common.$paddingSmall;
                margin: common.$paddingMedium 0;

                display: flex;
                overflow: hidden;
                background-color: gray;
                border-radius: common.$paddingSmall;
                
                div {
                    width: 0;
                    height: 100%;
                    transition: width 1s ease-in-out, background-color 1s ease-in-out;
                }
            }
        }
    }

    #projects {
        #iFrameContainer {
            @include common.flexRowWrap();

            place-content: center;

            iframe {
                width: 480px;
                aspect-ratio: 16 / 9;
            }
        }
    }
}

footer {
    @include common.glassMaterial();
    @include common.boxBorder(common.$paddingMedium, common.$paddingBig 0 0 0);

    box-shadow: common.bevelOutTB(), 0 0 4px black;

    section {
        @include common.flexRowWrap(common.$paddingSmall);

        place-content: space-between;
    }

    @media (min-width: common.$breakpointDesktop) {
        border-radius: 8px;
        box-shadow: common.bevelOut(), 0 0 4px black;
    }
}

.imageFillWidth {
    width: 100%;
}

.cursorBlink {
    animation: alphaAnim 1s infinite;
}

.griddy {
    @include common.flexRowWrap(common.$paddingSmall);

    place-content: space-evenly;
}

.iconDisplay {
    @include common.flexRowWrap(common.$paddingBig);

    place-content: center;

    .iconDisplayHeader {
        place-content: center;
    }
}

.iconBig { width: clamp(100px, 20vw, 200px); }
.iconMedium { width: clamp(75px, 10vw, 100px); }

.iconSmall {
    width: 50px;
    transition: 0.25s;

    &:hover {
        width: 60px;
    }
}

#fps {
    // Smooths FPS updates
    transition: color 0.5s ease-in-out;
}

#githubPfp {
    border-radius: 100%;
}

#mainCanvas {
    // For some reason, a lot of the elements have top set for them
    top: 0;
    // Ensures the full screen is utilized by p5.js
    width: 100vw;
    height: 100vh;
    // Keep background sticky
    // Keeps background behind all the elements since it's sticky
    z-index: -1;
    position: fixed;
}