/*

The order of selectors follows:
Semantic, IDs, and classes

For rules, the order follows:
Layout, styling, and responsive
*/
/* ---------------- USE GOES HERE ---------------- */
/* ---------------- VARIABLES GOES HERE ---------------- */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
:root {
  --filterBackground: none;
  --colorHover: rgb(0, 110, 255, 1);
  --colorActive: rgb(0, 55, 128, 1);
  --colorConsole: rgba(0, 0, 0, 0.5);
  --colorForeground: rgba(255, 255, 255, 1);
  --colorBackground: rgba(30, 30, 30, 0.125);
}

.themeToggle {
  --filterBackground: invert(1);
  --colorConsole: rgba(255, 255, 255, 0.5);
  --colorForeground: rgba(0, 0, 0, 1);
  --colorBackground: rgba(225, 225, 225, 0.125);
}

/* ---------------- FUNCTIONS GOES HERE ---------------- */
/* ---------------- MIXINS GOES HERE ---------------- */
/* ---------------- ANIMATION GOES HERE ---------------- */
@keyframes alphaAnim {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
/* ---------------- IMPORTS GOES HERE ---------------- */
/* ---------------- LAYOUT GOES HERE ---------------- */
html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  font-family: "JetBrains Mono";
  color: var(--colorForeground);
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

h1 {
  font-size: clamp(1.5rem, 6vw, 3rem);
}

h2 {
  font-size: clamp(1.25rem, 3vw, 2rem);
}

h3 {
  font-size: 1rem;
}

h1, h2, h3 {
  flex: 0 1 auto;
}

a {
  color: var(--colorHover);
}

iframe {
  border: none;
}

header, main, footer {
  box-sizing: border-box;
  width: min(100%, 1024px);
}

header {
  padding: 0.5rem;
  margin: 0;
  border: none;
  display: flex;
  flex-flow: row wrap;
  z-index: 9;
  display: flex;
  position: sticky;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  order: 99;
  bottom: 0;
  margin: 0;
}
header nav {
  transition: background-color 0.5s ease-in-out;
  background-color: var(--colorBackground);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  padding: 1rem;
  margin: 0;
  border: none;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: space-evenly;
  border-radius: 1rem;
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.125) inset, -1px 0 0 rgba(0, 0, 0, 0.125) inset, 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 -1px 0 rgba(0, 0, 0, 0.25) inset, 0 0 4px rgba(0, 0, 0, 0.5);
}
header a, header ul {
  display: contents;
}
header a li, header ul li {
  padding: 0.5rem 1rem;
  margin: 0;
  border: none;
  transition: 0.5s;
  list-style: none;
  border-radius: 1rem;
}
header a li:hover, header ul li:hover {
  background-color: var(--colorHover);
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.5) inset, -1px 0 0 rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(0, 0, 0, 0.5) inset, 0 0 4px rgba(0, 0, 0, 0.5);
}
header a li:active, header ul li:active {
  background-color: var(--colorActive);
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.25) inset, 1px 0 0 rgba(0, 0, 0, 0.25) inset, 0 -1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.5) inset, 0 0 4px rgba(0, 0, 0, 0.5) inset;
}
header a li a, header ul li a {
  color: inherit;
}
@media (min-width: 720px) {
  header {
    top: 0;
    order: 0;
    justify-content: space-between;
    margin: 0 0 2rem 0;
  }
}

main {
  display: flex;
  gap: 2rem;
  flex-flow: column nowrap;
}
main section {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  padding: 12.5vh 0;
  align-items: center;
  justify-content: center;
}
main section #heroHeader {
  text-align: center;
}
main article {
  transition: background-color 0.5s ease-in-out;
  background-color: var(--colorBackground);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  padding: 1rem;
  margin: 0;
  border: none;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 -1px 0 rgba(0, 0, 0, 0.25) inset, 0 0 4px rgba(0, 0, 0, 0.5);
}
@media (min-width: 1024px) {
  main article {
    border-radius: 1rem;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.125) inset, -1px 0 0 rgba(0, 0, 0, 0.125) inset, 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 -1px 0 rgba(0, 0, 0, 0.25) inset, 0 0 4px rgba(0, 0, 0, 0.5);
  }
}
main #about .consoleWindow {
  padding: 1rem;
  margin: 0;
  border: none;
  border-radius: 1rem;
  background-color: var(--colorConsole);
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.125) inset, 1px 0 0 rgba(0, 0, 0, 0.125) inset, 0 -1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 0 rgba(0, 0, 0, 0.25) inset, 0 0 4px rgba(0, 0, 0, 0.5) inset;
}
main #about .consoleWindow .flexRowWrap {
  display: flex;
  flex-flow: row wrap;
  gap: 0;
  gap: 0.5rem;
  justify-content: space-between;
}
main #about .consoleWindow .flexRowWrap p {
  transition: padding 1s ease-in-out, border-width 1s ease-in-out;
}
main #about .consoleWindow #percentageBar {
  width: 100%;
  height: 0.5rem;
  margin: 1rem 0;
  display: flex;
  overflow: hidden;
  background-color: gray;
  border-radius: 0.5rem;
}
main #about .consoleWindow #percentageBar div {
  width: 0;
  height: 100%;
  transition: width 1s ease-in-out, background-color 1s ease-in-out;
}
main #projects #iFrameContainer {
  display: flex;
  flex-flow: row wrap;
  gap: 0;
  justify-content: center;
}
main #projects #iFrameContainer iframe {
  width: 480px;
  aspect-ratio: 16/9;
}

footer {
  transition: background-color 0.5s ease-in-out;
  background-color: var(--colorBackground);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  padding: 1rem;
  margin: 2rem 0 0 0;
  border: none;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 -1px 0 rgba(0, 0, 0, 0.25) inset, 0 0 4px rgba(0, 0, 0, 0.5);
}
footer section {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  footer {
    border-radius: 1rem;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.125) inset, -1px 0 0 rgba(0, 0, 0, 0.125) inset, 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 -1px 0 rgba(0, 0, 0, 0.25) inset, 0 0 4px rgba(0, 0, 0, 0.5);
  }
}

.imageFillWidth {
  width: 100%;
}

.cursorBlink {
  animation: alphaAnim 1s infinite;
}

.themedLogos {
  transition: 0.5s ease-in-out;
  filter: var(--filterBackground);
}

.griddy {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  justify-content: space-evenly;
}

.iconDisplay {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: center;
}
.iconDisplay .iconDisplayHeader {
  justify-content: center;
}

.iconBig {
  width: clamp(100px, 20vw, 200px);
}

.iconMedium {
  width: clamp(75px, 10vw, 100px);
}

.iconSmall {
  width: 50px;
  transition: 0.25s;
}
.iconSmall:hover {
  width: 60px;
}

#fps {
  transition: color 0.5s ease-in-out;
}

#githubPfp {
  border-radius: 100%;
}

#mainCanvas {
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
  transition: filter 0.5s ease-in-out;
  filter: var(--filterBackground);
}

#themeButton {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: none;
  right: 0;
  z-index: 10;
  position: fixed;
  font-size: 1rem;
  list-style: none;
  font-family: "JetBrains Mono";
  color: var(--colorForeground);
  background-color: var(--colorHover);
  border-radius: 1rem;
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.5) inset, -1px 0 0 rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(0, 0, 0, 0.5) inset, 0 0 4px rgba(0, 0, 0, 0.5);
}
#themeButton:active {
  background-color: var(--colorActive);
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.25) inset, 1px 0 0 rgba(0, 0, 0, 0.25) inset, 0 -1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.5) inset, 0 0 4px rgba(0, 0, 0, 0.5) inset;
}
@media (min-width: 720px) {
  #themeButton {
    bottom: 0;
  }
}/*# sourceMappingURL=style.css.map */